@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-auto-rows: minmax(45px, auto);
      grid-template-areas: "header" "hero" "search" "trending" "footer";
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body header #line {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

body header nav {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav #logo {
  position: relative;
  margin-left: 22px;
}

body header nav #logo #logoMobileFont {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #572EE5;
  z-index: 99;
  position: absolute;
  left: 8px;
  top: 20px;
  background-color: white;
}

body header nav #redirect {
  margin-right: 26px;
}

body header nav #redirect ul {
  background-color: rgba(87, 46, 229, 0.9);
  display: none;
}

body header nav #redirect ul li {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

body #hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero;
  margin-bottom: 31px;
}

body #hero h1 {
  margin-left: 45px;
  margin-right: 44px;
  font-family: 'Montserrat',sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
}

body #hero h1 #gifos-word {
  color: #6CE3C2;
}

body #search {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #search img {
  width: 80%;
}

body #search #searchbox {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  width: 90%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #search #searchbox #searchtext {
  text-align: center;
  margin-left: 55px;
}

body #search #searchbox #searchbutton {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

body #trending {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: trending;
}

body footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}
/*# sourceMappingURL=style.css.map */